body {
    font-family: helvetica, helvetica neue, Arial, sand-serif;
    background: white;
    padding: 30px;
    display: flex;
    justify-content: center;

}


.kaart {
    width: 400px;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
}

h1 {
    margin-top: 0px;
}

.rij {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}


input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

img {
    max-width: 220px;
    border-radius: 10px;
    display:block;
    margin-top:10px
}